In [3]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Anthony Arendt\Google Drive\NASA High Asia\HiMAT team list.xlsx')

In [35]:
df.columns.values

array(['FirstName', 'LastName', 'email', 'PI_Team', 'Position',
       'Institution', 'InstitutionType', 'InviteMeeting_1',
       'AttendingTour_1', 'Citizenship', 'VisaStatus', 'Unnamed: 11',
       'markdown'], dtype=object)

In [41]:
df[df.FirstName == "Anthony"]

,FirstName,LastName,email,PI_Team,Position,Institution,InstitutionType,InviteMeeting_1,AttendingTour_1,Citizenship,VisaStatus,Unnamed: 11,markdown
1,Anthony,Arendt,arendta@uw.edu,Arendt,research scientist,University of Washington,Research Lab,Accepted,Y,Canada,Permanent Resident (Green Card),2,| 2 | [Anthony Arendt](mailto:arendta@uw.edu) ...

In [34]:
df[df['PI_Team']=='Arendt'][['FirstName','InviteMeeting_1']]

   FirstName InviteMeeting_1
1    Anthony        Accepted
5        Rob        Accepted
8    Charley        Accepted
19    Bryant        Accepted
20     Scott        Accepted
29    Fisher        Accepted
32     Sasha        Accepted
35     David        Accepted

A way to get just the PI emails

In [2]:
df.query('(LastName == PI_Team)').email.values

array(['arendta@uw.edu', 'phouser@gmu.edu', 'sarah.kapnick@noaa.gov',
       'jeffreyskargel@hotmail.com', 'dalia.b.kirschbaum@nasa.gov',
       'sujay.v.kumar@nasa.gov', 'kmcdonald2@ccny.cuny.edu',
       'batuhan.osmanoglu@nasa.gov', 'thomas.painter@jpl.nasa.gov',
       'summer.rupper@geog.utah.edu', 'si-chee.tsay@nasa.gov',
       'margulis@seas.ucla.edu'], dtype=object)

Getting just those attending meeting 1

In [4]:
list = df[df['InviteMeeting_1']=='Accepted'].email.to_csv(r'c:\work\csv.csv')

In [8]:
t=df[df['AttendingDinner_1']=='Y']

In [9]:
len(t)

42