In [25]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Anthony Arendt\Google Drive\NASA High Asia\HiMAT team list.xlsx')

In [35]:
df.columns.values

array(['FirstName', 'LastName', 'email', 'PI_Team', 'Position',
       'Institution', 'InstitutionType', 'InviteMeeting_1',
       'AttendingTour_1', 'Citizenship', 'VisaStatus', 'Unnamed: 11',
       'markdown'], dtype=object)

In [34]:
df[df['PI_Team']=='Arendt'][['FirstName','InviteMeeting_1']]

   FirstName InviteMeeting_1
1    Anthony        Accepted
5        Rob        Accepted
8    Charley        Accepted
19    Bryant        Accepted
20     Scott        Accepted
29    Fisher        Accepted
32     Sasha        Accepted
35     David        Accepted